<h1>API Paths:</h1>


<h3>Warframe API</h3>
<p>https://apps.chisdealhd.co.uk/warframe.php?plat=

    <br>Platforms: pc, ps4, xb1, swi</p>

<h3>World of Warships API</h3>
<p>https://apps.chisdealhd.co.uk/wows.php?user=

    <br>User = Your Username <br><br>Only available on PC at moment till i work on console side</p>